{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 text-white my-4">
            <h3 class="text-justify">
                Familio is a tool to create your family tree and interact with your family members easily in a blog
                channel.
                Sharing things with your family to become close to your blood.
                There are 3 levels of family members and you can start to create your tree and see how it can be great
                for your life.
                Doesn't matter where you are but all family can stay together. It's not social media, it's blood media
                that can keep the family close than ever.
            </h3>
            <div class="my-5">
                <h4>
                    <a href="{% url 'account_login' %}" class="sign-button btn btn-lg rounded-0 text-uppercase py-3">Sign In</a>
                </h4>
            </div>
        </div>
        <div class="col-lg-6 d-flex flex-column">
            <canvas id="my_canvas" width="800" height="600"></canvas>
        </div>
    </div>
</div>
{% endblock %}

{% block extrapostjs %}
    <script src="{% static 'js/tree.js' %}"></script>
{% endblock %}