{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-light text-black" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
          <h1 class="fw-bold text-uppercase mb-2">{% trans "Sign In" %}</h1>

          {% get_providers as socialaccount_providers %}

          {% if socialaccount_providers %}

          <div class="socialaccount_ballot mb-2">

            <a href="{% provider_login_url 'google' %}">
              <i class="fa-brands fa-google footer_i mb-2"></i>
            </a>

            <div class="login-or">{% trans 'OR' %}</div>

          </div>

          {% include "socialaccount/snippets/login_extra.html" %}

          {% endif %}

          <div class="form-outline form-white mb-2">
            <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form.as_p }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}

              <p class="pb-lg-2"><a class="button secondaryAction text-black"
                  href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>

              <button class="primaryAction btn btn btn-outline-dark btn-lg" type="submit">{% trans "Sign In" %}</button>

            </form>
          </div>

          <p class="text-black">{% blocktrans %}If you have not created an account yet, then please do it first.
            {% endblocktrans %}
          </p>
          <a href="{{ signup_url }}" class="primaryAction btn btn btn-outline-dark btn-lg">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}