{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-light text-black" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <h1 class="fw-bold text-uppercase mb-2">{% trans "Change Password" %}</h1>
                    <p>{% trans 'Your password is now changed.' %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}