{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 pt-5">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-light text-black fam_sha">
                <div class="card-body p-5 text-center">
                    <h2 class="fw-bold text-uppercase mb-2">{% trans "Change Password" %}</h2>

                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="primaryAction btn btn btn-outline-dark btn-md" type="submit"
                            name="action">{% trans "Change Password" %}</button>
                        <p class="pb-lg-2"><a class="button secondaryAction text-black"
                                href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}