{% extends "base.html" %}
{% load static %}

{% block extra_js %}

{% endblock %}

{% block page_header %}
<div class="py-5">
</div>
{% endblock %}

{% block content %}
<div class="p-3">
    <div id="tree" />
    <h1>{{ path}}</h1>
    <h1>{{ out_file}}</h1>
</div>
{% endblock %}

{% block extrapostjs %}
<script src="{% static 'js/orgchart.js' %}"></script>
<script>
    var url = "{% static '' %}json/{{user.email}}.json";
</script>
<script src="{% static 'js/familytree.js' %}"></script>
{% endblock %}