{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 pt-5">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-light text-black fam_sha">
                <div class="card-body text-center">
                    <h1 class="fw-bold mb-2 text-uppercase">{% trans "Familio Invite" %}</h1>
                    <div class="form-outline form-white mb-2">
                        <form method="POST" action="{% url 'familio' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <button class="primaryAction btn btn btn-outline-dark btn-md"
                                type="submit">{% trans 'Send'%}</button>

                        </form>
                    </div>

                </div>
            </div>
        </div>
        {% if familios or receives %}
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 fam_over">
            <div class="card bg-white text-black fam_sha">
                <div class="card-body">
                    {% if familios %}
                    <div class="mb-md-3 mt-md-2">
                        <h2 class="fw-bold mb-2 text-uppercase">{% trans "Familio Sent" %}</h2>
                        {% for familio in familios %}
                        <div class="form-outline form-white mb-2 fam_sha">
                            <p>
                                Email: {{ familio.email }}<br>
                                Kinship: {{ familio.kinship }}<br>
                                Level: {{ familio.level }}<br>
                                Status: {% if familio.approved %} Approved {% else %} Pending {% endif %}
                            </p>

                        </div>
                        {% endfor %}
                    </div>
                </div>
                <hr>
                {% endif %}
                <div class="card-body">
                    {% if receives %}
                    <div class="mb-md-3 mt-md-2">
                        <h2 class="fw-bold mb-2 text-uppercase">{% trans "Familio Received" %}</h2>
                        {% for receive in receives %}
                        <div class="form-outline form-white mb-2 fam_sha">
                            <p>
                                Member: {{ receive.member.get_full_name }}<br>
                                Kinship: {{ receive.kinship }}<br>
                                Status: {% if receive.approved %} Approved <a
                                class="btn btn-outline-danger btn-md"
                                href="{{ activate_url }}/members/approved/{{ receive.id }}">Disapprove</a> {% else %} Pending <a
                                    class="btn btn-outline-success btn-md"
                                    href="{{ activate_url }}/members/approved/{{ receive.id }}">Approve</a>{% endif %}
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}