{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="container py-5 h-100">
    <div class="row d-flex align-content-center h-100 pt-5">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-light text-black" style="border-radius: 1rem;">
                <div class="card-body text-center">
                    <h1 class="fw-bold mb-2 text-uppercase">{% trans "Familio Invite" %}</h1>
                    <div class="form-outline form-white mb-4">
                        <form method="POST" action="{% url 'familio' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <button class="primaryAction btn btn btn-outline-dark btn-lg"
                                type="submit">{% trans 'Send'%}</button>

                        </form>
                    </div>

                </div>
            </div>
        </div>
        {% if familios or receives %}
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-white text-black" style="border-radius: 1rem;">
                <div class="card-body">
                    {% if familios %}
                    <div class="mb-md-5 mt-md-4">
                        <h2 class="fw-bold mb-2 text-uppercase">{% trans "Familio Sent" %}</h2>
                        {% for familio in familios %}
                        <div class="form-outline form-white mb-4"
                            style="border: 1px solid;padding: 10px;box-shadow: 5px 10px #888888;border-radius: 1rem;">
                            <p>
                                Email: {{ familio.email }}<br>
                                Kinship: {{ familio.kinship }}<br>
                                Level: {{ familio.level }}<br>
                                Status: {% if familio.approved %} Approved {% else %} Pending {% endif %}
                            </p>

                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                    {% endif %}
                    {% if receives %}
                    <div class="mb-md-5 mt-md-4">
                        <h2 class="fw-bold mb-2 text-uppercase">{% trans "Familio Received" %}</h2>
                        {% for receive in receives %}
                        <div class="form-outline form-white mb-4"
                            style="border: 1px solid;padding: 10px;box-shadow: 5px 10px #888888;border-radius: 1rem;">
                            <p>
                                Member: {{ receive.member.get_full_name }}<br>
                                Kinship: {{ receive.kinship }}<br>
                                Status: {% if receive.approved %} Approved {% else %} Pending   <a class="btn btn-outline-dark btn-sm"
                                    href="{{ activate_url }}/members/approved/{{ receive.id }}">Approve</a>{% endif %}
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endblock %}