{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 text-white">
            <a class="menu-button" href=""><i class="fa-brands fa-sourcetree menu_i"></i>Tree</a>
            <a class="menu-button" href=""><i class="fa-solid fa-blog menu_i"></i>Blog</a>
            <a class="menu-button" href=""><i class="fa-regular fa-images menu_i"></i>Pictures</a>
            <a class="menu-button" href=""><i class="fa-solid fa-people-group menu_i"></i>Groups</a>
            <a class="menu-button" href=""><i class="fa-solid fa-group-arrows-rotate menu_i"></i>Members</a>
            <a class="menu-button" href=""><i class="fa-solid fa-money-check-dollar menu_i"></i>Plans</a>
        </div>
        <div class="col-lg-6 d-flex flex-column">
            <canvas id="my_canvas" width="800" height="600"></canvas>
        </div>
    </div>
</div>
{% endblock %}

{% block extrapostjs %}
    <script src="{% static 'js/tree.js' %}"></script>
{% endblock %} 