{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-light text-black" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <h1 class="fw-bold text-uppercase mb-2">{% trans "Social Network Login Failure" %}</h1>

                    <p>{% trans "An error occurred while attempting to login via your social network account." %}</p>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>